/* general */

/* #root{
  width: 390px;
  height: 844px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f5f4f1;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: solid 2px black;
} */

body {
  font-family: Arial, Helvetica, sans-serif, "UnifrakturMaguntia", cursive;
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: #f5f4f1;
  color: #313131;

  @media (min-width: 391px) {
    #root {
      width: 420px;
      height: 860px;
      background-color: #f5f4f1;
      margin-top: 20px;
      padding-top: 0px;
      margin-left: auto;
      margin-right: auto;
      overflow: auto;

      background-image: url("../public/apple-iphone-12-pro-max-5947688_1920.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    .scrollbox {
      height: 740px;
      margin-top: 60px;
      padding-top: 10px;
      overflow: auto;
    }

    .sheet-footer-container{
      position: absolute;
      left: auto;
      right: auto;
      bottom: 55px;
      padding-left:25px
    }
  }
}

header {
  height: 60px;
}

.navbar-logo {
  font-family: "UnifrakturMaguntia";
}

.navbar-main {
  background-color: #f5f4f1;
  border-color: #313131;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.nav-button {
  text-align: left;
}

.nav-icon {
  background-image: url("../public/medieval_sword_icon_157501\ \(1\).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.nav-border {
  border-color: #313131;
  border-width: 2px;
}

.nav-noborder {
  border: none;
}

input {
  border-width: 1px;
  border-radius: 5px;
  border-color: #313131;
  border-style: solid;
  height: 50px;
  width: 280px;
  margin: auto;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #f5f4f1;
}

.topbox {
  height: 120px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  height: 330px;
}

.login-button {
  margin-top: 60px;
}

.link {
  background-color: #313131;
  color: #f5f4f1;
  display: block;

  border-radius: 10px;
  height: 50px;
  width: 280px;
  border-style: none;
  text-decoration: none;
  text-align: center;
  padding-top: 12px;
}

.loginlink {
  margin-top: 25px;
  margin-bottom: 25px;
}

.login-text {
  margin-top: 15px;
  margin-bottom: 15px;
}

.login-header {
  margin-bottom: 23px;
}

.navlink {
  color: #f5f4f1;
}

.button {
  background-color: #313131;
  color: #f5f4f1;
  display: block;

  border-radius: 10px;
  height: 50px;
  width: 280px;
  border-style: none;
}

h1 {
  font-family: "UnifrakturMaguntia";
  font-size: 40px;
}

.character-card {
  border: solid;
  border-color: #313131;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.character-name {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 210px;
}

.character-class {
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.character-flex {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #313131;
}

.character-delete {
  width: 70px;
  background-color: #313131;
  color: #f5f4f1;
  border-style: none;
  border-radius: 0px, 3px, 3px, 0px;
  font-size: 25px;
}

.character-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.character-topbox {
  height: 80px;
}

.delete-character {
  background-color: #a93400;
  color: #f5f4f1;
  border-radius: 10px;
  height: 50px;
  width: 80px;
  border-style: none;
}

.modal-close {
  background: #313131;
  color: #f5f4f1;
  border-radius: 10px;
  height: 50px;
  width: 80px;
  border-style: none;
}

.modal-backdrop {
  background-color: #31313150;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f4f1;
  border: none;
  width: 310px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #313131;
  border-radius: 5px;
  margin-top: 80px;
}

.modal-text {
  text-align: center;
  margin-top: 30px;
}

.modal-buttons {
  background-color: #f5f4f1;
  border: none;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.character-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-form-name {
  display: flex;
  flex-direction: column;
  width: 340px;
  text-align: center;
  align-items: center;
  border: 2px solid #313131;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.character-creation-select {
  width: 280px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #f5f4f1;
  color: #313131;
  border-color: #313131;
  border-radius: 5px;
  text-align: center;
}

.character-creation-text-start {
  margin-top: 20px;
  width: 280px;
  align-self: center;
  text-align: center;
}

.description-race {
  width: 280px;
  height: 175px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #313131;
  border-radius: 5px;
  text-align: center;
}

.description-class {
  width: 280px;
  height: 285px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: solid 1px #313131;
  border-radius: 5px;
  text-align: center;
}

.description-background {
  width: 280px;
  height: 215px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: solid 1px #313131;
  border-radius: 5px;
  text-align: center;
}

.description {
  width: 280px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #313131;
  border-radius: 5px;
  text-align: center;
}

.button-box {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.continue-button {
  background: #313131;
  color: #f5f4f1;
  display: block;

  border-radius: 10px;
  padding: none;
  height: 50px;
  width: 110px;
  border-style: none;
}

.back-button {
  background: #a93400;
  color: #f5f4f1;
  display: block;

  border-radius: 10px;
  padding-right: none;
  height: 50px;
  width: 110px;
  border-style: none;
}

.generate-button {
  margin-bottom: 30px;
  align-self: center;
}

.stat-box-large {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 280px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.stat-box-small {
  display: flex;
  flex-direction: column;
  border: solid 1px #313131;
  border-radius: 5px;
  width: 110px;
}

.lowest-box {
  margin-bottom: 30px;
}

.stat-box {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-top: 1px #313131 solid;
}

.stat-heading {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
  background-color: #313131;
  color: #f5f4f1;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.stat-card {
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 10px;
  height: 70px;
}

.stat-buttons {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  width: 30px;
  height: 80px;
  justify-content: space-between;
}

.stat-button {
  border-style: none;
  background-color: #313131;
  color: #f5f4f1;
  border-radius: 3px;
  width: 30px;
  height: 30px;
}

.stat-minus {
  background-color: #a93400;
  color: #f5f4f1;
}

.backstory-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backstory-header {
  margin-bottom: 40px;
}

.backstory-field {
  width: 280px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f5f4f1;
  color: #313131;
  border-color: #313131;
  border-radius: 5px;
  text-align: justify;
  font-size: 15px;
}

.backstory-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

/* ---------spinner------------ */

.dots-5 {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: d5 1s infinite linear alternate;
}
@keyframes d5 {
  0% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000;
  }
}

/* ----------character-sheet---------- */

.sheet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sheet-box-small {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-bottom: 40px;
}

.sheet-card {
  display: flex;
  flex-direction: column;
  width: 120px;
  align-items: center;
  border: solid 1px #313131;
  border-radius: 5px;
}

.sheet-heading {
  width: 120px;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #313131;
  color: #f5f4f1;
}

.sheet-h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sheet-buffer {
  margin-top: 15px;
}

.sheet-stat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px #313131 solid;
}

.sheet-stat-box-small {
  display: flex;
  flex-direction: column;
  border: solid 1px #313131;
  border-radius: 5px;
  width: 110px;
  height: 130px;
}

.sheet-stat-heading {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
  background-color: #313131;
  color: #f5f4f1;
}

.sheet-heading-top {
  margin-top: 20px;
}

.sheet-stat-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  height: 70px;
}

.sheet-button-box {
  margin-top: 20px;
}

.sheet-bottombox {
  height: 100px;
}

.saving-box {
  display: flex;
  border: 1px #313131 solid;
  border-radius: 5px;
  justify-content: space-between;
  width: 180px;
  margin-bottom: 20px;
}

.saving-card {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.saving-card-p {
  margin-bottom: 5px;
}

.sheet-topbox {
  height: 40px;
}

.backstory-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 280px;
}

.sheet-footer-container {
  display: flex;
  flex-direction: column;
  width: 370px;
  position: fixed;
  bottom: 0px;
  left: 10px;
}

.sheet-footer-bottom {
  height: 10px;
  background-color: #f5f4f1;
}

.sheet-footer-button-container {
  display: flex;
  flex-direction: row;
  width: 370px;
  justify-content: space-between;
  background-color: #f5f4f1;
  border: 1px solid #313131;
  height: 30px;
  border-radius: 5px;
}

.sheet-footer-button {
  background-color: #f5f4f1;
  border: none;
  width: 123px;
}

.sheet-button-left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.sheet-button-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.active-button {
  background-color: #313131;
  color: #f5f4f1;
  width: 123px;
  /* border: solid 1px #313131; */
}

.bottom-box {
  height: 80px;
}

.backstory-text {
  font-size: 15px;
  text-align: justify;
  white-space: pre-line;
}

.backstory-small {
  border: solid 1px #313131;
  border-radius: 5px;
  width: 200px;
  padding-top: 8px;
  margin-top: 20px;
}

.edit-input {
  border: none;
  width: 40px;
  height: 25px;
  margin-bottom: 0;
  margin-top: 0;
}

.input-field {
  display: flex;
  width: 95px;
}

.edit-box-small {
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-self: center;
}

.edit-sheet-card {
  display: flex;
  flex-direction: column;
  width: 108px;
  align-items: center;
  border: solid 1px #313131;
  border-radius: 5px;
  height: 137px;
  margin-bottom: 30px;
}

.edit-sheet-heading {
  width: 108px;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #313131;
  color: #f5f4f1;
}

.edit-input-top {
  margin-top: 30px;
}

.button-box-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.quiz-answer {
  background-color: #f5f4f1;
  border: solid 1px #313131;
  border-radius: 5px;
  margin-bottom: 20px;
}

.quiz-back {
  margin-bottom: 30px;
  margin-top: 30px;
}
